*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Book Antiqua";
    font-size: 1em;
    line-height: 1.5em;
    width: 100%;
    background-color: #F3F0E5;
}
a{
    cursor: pointer;
    text-decoration: none;
    outline: none;
}
h1{
    font-size: 2em;
    text-align: center;
}
h2{
    font-size: 1.5em;
    text-align: center;
}
h3,h4{
    margin: 3px;
}
#todo-container >div{
    justify-content: center;
}
.column-calendar{
    background-image: url("./background.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /*box-shadow: inset 0 0 0 1000px*/
        /*rgba(255,255,255,0.25);*/
    border-radius: 10px;
    border: 1px silver solid;
    transition-duration: 0.5s;
}
#calendar-list{
    display: grid;
    grid-template-columns: 250px;
    grid-gap: 10px;
}
#calendar-list >div{
    position: relative;
}
.date, .day{
    text-align: center;
}
.iconEdit, .iconDelete{
    max-width: 20px;
    max-height: 20px;
    border-radius: 4px;
    padding: 3px;
    transition-duration: 0.5s;
}
.todo-item-list{
    display: grid;
    grid-template-columns: 6fr 1fr 1fr;
}
.iconEdit{
    background-color:  rgba(255,132,10,0.1);
    transition-duration: 0.5s;
}
.iconEdit:hover{
    background-color:  rgba(255,132,10,0.6);
    transition-duration: 0.5s;
}
.iconDelete:hover{
    background-color:  rgba(255,10,10,0.6);
    transition-duration: 0.5s;
}
.iconDelete{
    background-color:  rgba(255,10,10,0.1);
    transition-duration: 0.5s;
}

/*@media screen and (max-width: 768px) {}*/