*{
    box-sizing: border-box;
    margin: 0;
}

.pictureArticle{
    background-size: contain;
    background-repeat: no-repeat;
}

.header{
    background-position: 50%;
    background-image: url("My Post.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 150px;
}