*{
    margin: 0 auto;
    box-sizing: border-box;
}

.pink{
    width: 400pt;
    height: 80pt;
    background-color: #F5C6D6;
}
.ruby{
    position: center;
    margin: auto;
}
.ruby div{
    width: 100pt;
    height: 80pt;
    background-color: #EE2E84;
    display: inline-flex;

}